@model IITS_Programming_Club.Models.Complain

    <div class="container">
        <h4>Complain</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="AddComplain">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="student_id" class="control-label"></label>
                        <input asp-for="student_id" class="form-control" />
                        <span asp-validation-for="student_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="message" class="control-label"></label>
                        <input asp-for="message" class="form-control" />
                        <span asp-validation-for="message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="StudentWork">Back to Student Panel</a>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
