@model IITS_Programming_Club.Models.StudentInfo

    <div class="container">
        <div>
            <img src="~/proggif.gif" class="center" style="margin-left:400px;width:250px; height: 200px;">
        </div>

        <h4 style="align-items:end">StudentInfo</h4>
        <hr />
        @ViewBag.message
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="student_id" class="control-label"></label>
                        <input asp-for="student_id" class="form-control" />
                        <span asp-validation-for="student_id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="student_pass" class="control-label"></label>
                        <input asp-for="student_pass" class="form-control" type="password" />
                        <span asp-validation-for="student_pass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-outline-dark" />
                    </div>
                </form>
            </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
